<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tuto sf2{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block arianne %}TUTO{% endblock %}
        <header>
            Super projet SF2
        </header>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
