{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

<h3>Formulaire d'annonce</h3>

<div class="well">

  {{ form(form) }}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var $container = $("div#oc_platformbundle_advert_categories");
        var $addLink = $("<a href='#' id='add_cat' class='btn btn-primary'>ajout cat</a>");

        $container.append($addLink);

        $addLink.click(function (e) {
            addCategory($container);
            e.preventDefault();
            return false;
        });

        var $index = $container.find(':input').length;
        if($index == 0){
            addCategory($container);
        }else{
            $container.children('div').each(function () {
                addDeleteLink($(this));
            })
        }

        function addCategory($container) {
           var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'cat n°'+($index+1)).replace(/__name__/g, $index));
            addDeleteLink($prototype);
            $container.append($prototype);
            $index++;
        }

        function  addDeleteLink($prototype) {
            var $deleteLink = $("<a href='#' id='supp_cat' class='btn btn-danger'>supp cat</a>");
            $prototype.append($deleteLink);

            $deleteLink.click(function (e) {
                $prototype.remove();
                e.preventDefault();
                return false;

            });
        }
    });
</script>
