{% extends "::base.html.twig" %}

{% block body %}

<h1>Ajoueter un Message</h1>
<form action="{{ path("tutocopcol_ajouter") }}" method="post">
 {{ form_widget(form) }}
    <input type="submit"/>

</form>
{% endblock %}